<h1> <%= @cocktail.name %></h1>
<span> Does it suck? If so, pour this one down the drain</span>
<p> <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, cocktail_path(@cocktail), method: 'delete' %> </p>

<p> <% @cocktail.doses.each do |dose| %></p>
  <span> <%= dose.description %> of <%= dose.ingredient.name %> </span>
  <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, dose_path(dose), method: 'delete' %>
  
<% end %>

<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>

  <%= f.submit %>
<% end %>

<p> <%= link_to 'Back to list', root_path %> </p>
