<h1> <%= @cocktail.name %></h1>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :ingredient_id, collection: Ingredient.all, label: 'Sooo, what do you want to add here?' %>
    <%= f.input :description, label: 'And about how much?'  %>
    <%= f.submit 'Add your magic...' %>
  <% end %>
